* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top {
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: black;
    padding-top: 5px;
}

#top > span {
    background-color: grey;
    padding: 5px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

#fullscreen {
    margin: 0 5px 0 10px;
}

/* main */
main {
    overflow: hidden;
    overflow-y: auto;
    background-color: black;
}

#container {
    max-width: calc(1920px - 20%);
    margin: 0 auto;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#element{
    margin: 0 3px;
    position: relative;
}

#pinco {
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 15px;
    padding: 2px;
}

#bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100vw;
    background-color: black;
}

#left-bottom, #center-bottom {
    display: flex;
    align-items: center;
}

.btn {
    padding: 10px;
}

.logo {
    font-size: 30px;
    color: white;
    text-align: center;
}

#share {
    color: green;
}

.caption {
    color: white;
}

.arrow {
    color: white;
}

#right-bottom > div {
    height: 75px;
    line-height: 75px;
    width: 125px;
    text-align: center;
    vertical-align: center;
    background-color: rgb(128, 128, 128, 0.5);
    color: red;
}